/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.welcome-container {
    background-color: yellow;
    text-align: center;
    width: 550px;
    height: 350px;
    /* margin: 20vh 20%; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.replay-box {
    background-color: yellow;
    text-align: center;
    width: 550px;
    height: 350px;
    /* margin: 20vh 20%; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.replay-winner {
    font-size: 25px;
}

.hide {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

button {
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px solid rgb(226, 226, 5);
    border-radius: 5px;
}

button:hover {
    background-color: rgb(66, 66, 66);
    border: red 2px solid;
}

.tally {
    padding-top: 20px;
}

.welcome-message {
    font-size: 35px;
}

.press-enter {
    font-size: 18px;
}

.replay-winner {
    font-size: 25px;
}

.replay-score-text {
    font-size: 20px;
    font-style: italic;
}

.replay-score-numbers {
    font-size: 22px;
    font-weight: bold;
}

.replay-enter {
    font-size: 18px;
}